<h2 class="mb-5"> Mis categorias </h2>

<div class="text-end">
    <button class="btn btn-primary" routerLink="/category-create">
        Nueva Categoria
    </button>
</div>

<table class="table table-hover">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
       @for (category of categorys; track category.id) {
         <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.descripcion }}</td>
            <td class="text-end">
                <div>
                    <button class="btn btn-primary" [routerLink]="['/edit', category.id]">
                        Editar
                    </button>
                    <button class="btn btn-danger" (click)="eliminarCategory(category)"> 
                        Eliminar
                    </button>
                </div>
            </td>
         </tr>
       }
    </tbody>
</table>
